<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.gov.ilpsdk.apps.stafed" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".data.GlobalVariable"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="my.gov.ilpsdk.apps.stafed.ActivitySplash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="my.gov.ilpsdk.apps.stafed.ActivityMain" >
        </activity>
        <activity android:name="my.gov.ilpsdk.apps.stafed.ActivityStaffDetails"
            android:label="Friend Details" >
        </activity>
        <activity android:name="my.gov.ilpsdk.apps.stafed.ActivityLogin"
            android:label="Staff Login"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity android:name="my.gov.ilpsdk.apps.stafed.ActivityChangePassword"
            android:label="Change Password"
            android:theme="@style/AppTheme.Dark">
        </activity>
    </application>

</manifest>
